language: bash
sudo: required
services:
  - docker

script:
  - shellcheck *.sh
  - shellcheck ci-deploy/*.sh
  - cd .. &&
    git clone https://github.com/whatwg/html.git --depth 2 &&
    IS_TEST_OF_HTML_BUILD_ITSELF=true bash ./html-build/ci-deploy/outside-container.sh

branches:
  only:
    - master

notifications:
  email:
    on_success: never
    on_failure: always
